.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  .ant-form-item {
    margin-right: 10px;
    margin-bottom: 10px;
    .el-input,
    .base-select,
    .base-date-picker {
      width: 140px;
    }
    .el-input+.el-input {
      margin-left: 10px;
    }
    .base-select+.base-select {
      margin-left: 10px;
    }
    .el-button {
      margin-left: 20px;
    }
  }
}
